.dashboard {
  @extend .flex-column;
  gap: var(--space-big);
  padding: var(--space-small) var(--space-big);

  @include setBreakpoint(1050px) {
    padding: var(--space-small);
  }

  @include setBreakpoint(500px) {
    align-items: center;
  }
}

.dashboard-content {
  @extend .flex-column;
  gap: var(--space-medium);
  padding-bottom: var(--space-medium);

  &-row {
    @extend .flex-between;
    gap: var(--space-medium);

    @include setBreakpoint(1250px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    @include setBreakpointMin(2000px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.dashboard-header {
  @extend .flex-between;
  align-items: center;
  gap: var(--space-big);
  height: max;

  &-icons {
    @extend .flex;
    gap: var(--space-medium);
  }
}
