.header-content-desktop {
  @extend .flex-center;
  @extend .flex-between;
  gap: var(--space-big);
  height: max-content;
  padding: 0 var(--space-big);
  border-bottom: 1px solid rgb(218, 211, 211);

  @include setBreakpoint(1200px) {
    display: none;
  }
}

.header-content-mobile {
  display: none;

  @include setBreakpoint(1200px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-small) var(--space-large);
  }
}

.header-group {
  @extend .flex-center;
  gap: var(--space-big);
  margin-right: 3rem;

  &-mobile {
    @extend .flex-center-column;
    gap: var(--space-big);
    margin-top: var(--space-big);
  }
}

.header-badge {
  @extend .flex-center;
  gap: var(--space-small);

  &-name {
    @include setBreakpoint(1200px) {
      font-size: 1.3rem;
    }
  }
}
