.capacity-details {
  @extend .flex-column;
  width: max-content;
  padding: var(--space-medium);

  @include setBreakpoint(450px) {
    padding-top: 0;
  }

  &-value {
    font-size: 2.4rem;
    color: var(--color-font-primary);
  }

  &-title {
    color: var(--color-font-light);
    font-size: 1.3rem;
  }
}

.capacity-content {
  @extend .flex-column;
  margin-top: var(--space-small);
}

.capacity {
  @extend .flex;
  gap: var(--space-small);

  @include setBreakpoint(450px) {
    flex-direction: column;
  }
}

.capacity-detail-small {
  color: var(--color-font-primary);
  font-size: 1.2rem;
}
