.card {
  @extend .flex-center-column;
  justify-content: flex-start;
  width: max-content;
  height: max-content;
  min-height: 21rem;
  min-width: 35rem;
  padding: var(--space-medium);
}
.card-header {
  @extend .flex;
  width: 100%;
  padding: 0 var(--space-medium);
}
.card-content {
  @extend .flex-center-column;
  width: 100%;
  padding: var(--space-medium) var(--space-big);
  margin-top: var(--space-small);
}
.card-title {
  font-size: 1.25rem;
  color: var(--color-font-light);
}
