.logo-wrapper {
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.logo {
  width: 10rem;
  height: 4rem;
  user-select: none;
  pointer-events: none;
}

.logo-text {
  width: 7rem;
  height: 2rem;
}
