.card {
  @extend .flex-center-column;
  justify-content: flex-start;
  width: 35rem;
  height: 32rem;
  gap: var(--space-medium);
  border: var(--border-solid);
  border-radius: var(--border-radius-small);
  box-shadow: var(--shadow);
  padding: var(--space-medium);
  padding-top: var(--space-big);
}

.button-demo {
  width: 80%;
}

.card-title {
  margin-top: var(--space-medium);
  color: rgb(49, 49, 138);
  font-weight: 500;
}
