* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-primary: rgb(248, 248, 248);
  --color-highlight: rgb(163, 41, 194);
  --color-background-light: white;
  --color-background: rgb(247, 249, 255);
  --color-warning: red;
  --color-font-primary: rgb(52, 65, 139);
  --color-font-dark: rgb(18, 26, 66);
  --color-font-light: rgb(80, 97, 194);
  --color-button-primary: rgb(255, 254, 253);
  --color-button-secondary: rgb(255, 224, 247);
  --color-hover-primary: rgb(253, 241, 255);
  --color-hover-secondary: rgb(241, 216, 236);
  --color-element-primary: rgb(194, 134, 179);
  --color-element-dark: rgb(226, 209, 209);
  --color-element-light: white;

  --space-small: 0.75rem;
  --space-medium: 1.5rem;
  --space-big: 2.5rem;
  --space-large: 5rem;

  --shadow: 8px 8px 38px -14px rgba(133, 136, 163, 0.4);
  --blur: 10px;

  --border-solid: 1px solid rgb(244, 233, 252);
  --border-radius: 10rem;
  --border-radius-small: 5px;
}
